<div>
<h1>Round {{round}}</h1>
<h3>{{currentPlayer}}</h3>
<form name="playForm" ng-submit="playForm.$valid && ok()">
<div class="form-group">
	<label>Select move:</label>
	<select type="Select" class="form-control" ng-model="selectedMove" ng-options="move.move for move in moves" required></select>
</div>
	<button type="submit" class="btn btn-default">Ok</button>
</form>
</div>
<div ng-show='history.length'>
<h2>Score</h2>
<table>
	<tbody >
		<th>
			<td>
				Round
			</td>
			<td>Winner
			</td>
		</th>
		<tr ng-repeat="result in history">
			<td>
				{{result.round}}
			</td>
			<td>
				{{result.winner.name}}
			</td>
		</tr>
	</tbody>
</table>
 
</div>