  /* app css stylesheet */

  .centered {
       position: absolute;
       top: 30%;
       left: 22%;
  }

  .mybackground{
    height: 600px;
    background: #475d62 url(img/background.jpg);
    background-size: cover;
    position: relative;
  }

  .formbackground{
    background-color:rgba(247, 66, 66, 0.67);
    width: 60%;
    overflow: auto;
    padding: 20px;
  }

  .row {
     margin-right: 20px; 
     margin-left: 20px; 
  }

  label{
    color: white;
  }

  body{
    color: white;
  }

  .btn{
    width: 200px;
    background-color: #161f27;
    margin-top: 50px;
  }